FLIP CARD TEXT WIDGET WITH CLICK EVENT
  
*****************************************************************
  
Param Name: Frame ( ) | Select ( Title , Director , MovieBudget , Revenue_Domestic , Revenue_International , Studio , Nominated , Genre ) | Collect(1000);
Query: FrameData

*****************************************************************

<style>
    #TextWidget {
        --flip-card-background: transparent;
        --flip-card-front-color: black;
        --flip-card-back-background: #143F5B;
        --flip-card-back-color: white;
    }
    #TextWidget body {
        font-family: Arial, Helvetica, sans-serif;
    }

    #TextWidget .flip-card {
        background-color: var(--flip-card-background);
        width: 200px;
        height: 200px;
        perspective: 1000px;
        margin-top: 10px;
        margin-left: 10px;
        float: left;
    }

    #TextWidget .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        background-color: transparent;
    }

    #TextWidget .Main {
        font-weight: bold;
        font-size: 15px;
    }

    #TextWidget .Secondary {
        font-style: italic;
        font-size: 13px;
    }

    #TextWidget .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    #TextWidget .flip-card-front,
    #TextWidget .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    #TextWidget .flip-card-front {

        color: var(--flip-card-front-color);
        text-align: center;
    }

    #TextWidget .flip-card-back {
        text-align: left;
        background-color: var(--flip-card-back-background);
        font-size: 12px;
        color: var(--flip-card-back-color);
        transform: rotateY(180deg);
    }

</style>

<div ng-repeat='systemData in FrameData[0].output.data.values'>
    <div
        ng-click='textWidget.runPixel("AddPanel(99); Panel(99) | SetPanelView(\"visualization\"); Frame() | QueryAll() | Filter (Title==[\"" + systemData[0] + "\"]) | AutoTaskOptions(panel=[\"99\"], layout=[\"Grid\"]) | Collect();")'>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <div><img src="https://image.flaticon.com/icons/svg/148/148723.svg" height="100" width="100"></div>
                    <div class="Main">{{systemData[0] | replaceUnderscores }}</div>
                    <div class="Secondary">{{systemData[1] | replaceUnderscores}}</div>
                </div>
                <div class="flip-card-back">
                    <div>Title: {{systemData[0] | replaceUnderscores}}</div>
                    <div>Director: {{systemData[1] | replaceUnderscores}}</div>
                    <div>Genre: {{systemData[7] | replaceUnderscores}}</div>
                    <div>Studio: {{systemData[5] | replaceUnderscores}}</div>
                    <div>Movie Budget: {{systemData[2] | currency}}</div>
                    <div>Domestic Revenue: {{systemData[3] | currency}}</div>
                    <div>International Revenue: {{systemData[4] | currency}}</div>
                    <div>Nominated: {{systemData[6] | replaceUnderscores}}</div>
                </div>
            </div>
        </div>
    </div>
